

.card {
    position: relative;
    display: flex;
    width: 70vw;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background: #f5f5f5;
    box-shadow:  5px 5px 10px #d0d0d0,
    -5px -5px 10px #ffffff;
    transition-duration: .4s;
    max-height: 100px;
    .thumbnail-wrapper {
        height: 100px;
        width: 70px;
        overflow: hidden;
        border-radius: 10px;
        background: #e0e0e0;
        box-shadow:  5px 5px 10px #d3d3d3,
                    -5px -5px 10px #ededed;
        transform: translateX(0px);
        transition-duration: .4s;
        transition-delay: .2s;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .content {
        width: 70%;
        margin-left: 3%;
        .name {
            font-family: 'Erica One';
            transform: translate(0,0);
            transition-duration: .4s;
            transition-delay: .1s;
        }

        .description {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transform: translate(0,0);
            transition-duration: .4s;
            transition-delay: .1s;
            height: 25%;
        }
    }
    .btn-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 10%;
        height: 100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
        .add-btn,
        .remove-btn {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #66bb6a;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            color: white;
            left: 100%;
            transition-duration: .4s;
            transition-delay: 0s;
            span {
                font-weight: bold;
                font-size: 50px;

            }
        }
        .remove-btn {
            background-color: #f35656;
        }
    }
}

.card:hover {
    display: flex;
    width: 75vw;
    padding: 25px;
    margin: 30px;
    box-shadow:  15px 15px 30px #d0d0d0,
    -15px -15px 30px #ffffff;
    max-height: 120px;
    .thumbnail-wrapper {
        height: 120px;
        width: 85px;
        transform: translateX(-40px);
        box-shadow:  10px 10px 20px #d0d0d0,
        -10px -10px 20px #ffffff;
        transition-delay: .1s;
    }
    .content {
        .name {
            font-size: 25px;
            transform: translate(-20px,-70px);
            transition-delay: .2s;
        }
        .description {

            white-space: initial;
            text-overflow: initial;
            transform: translateY(-80px);
            transition-duration: .4s;
            transition-delay: .2s;
            height: 100%;
        }
    }
    .btn-wrapper .add-btn, 
    .btn-wrapper .remove-btn {
        left: 0%;
        transition-delay: .3s;
    }
}